angular.module('{{=it.appName}}', [{{~it.deps :dep:index}}'{{=dep}}'{{? index < (it.deps.length - 1) }}, {{?}}{{~}}]);

angular.module('{{=it.appName}}').run([
    {{~it.attach :item:index}}'{{=item}}', {{~}}'$rootScope',
    function ({{~it.attach :item:index}}{{=item}}, {{~}}$rootScope) {
        {{~it.attach :item:index}}$rootScope.{{=item}} = {{=item}};
        {{~}}
    }
]);
